{% extends "base.html" %}
{% block content %}
	<h1> Fresh Veg </h1>
	<h2> A blog for music and fresh produce </h2>
	
	{% if logged_in %}
		<div>Welcome {{username}}</div>
	{% else %}
		<div><a href="/login">login</a></div>
	{% endif %}
	
	{% for entry in entries %}
		<div> {{ entry.date }} </div>
		{% autoescape false %}
			<div> {{ entry.content }} </div>
		{% endautoescape %}
	{% endfor %}
	{% if older %}
		<a href ="/?page={{plus1}}">older entries</a>
	{% endif %}
	{% if newer %}
		<a href ="/?page={{minus1}}">newer entries</a>
	{% endif %}

	{% if logged_in %}	
		<div>Create a new blog post!</div>
		<form method="POST" id="new_post">
			<input type="submit" value="Submit new post">
		</form>
		<textarea rows="4" cols="50" name="new_post" form="new_post"></textarea>
	{% endif %}

{% endblock %}
